:root {
  --font-family-primary: 'Montserrat', sans-serif;
  --color-bg-main: #fbab7e;
  --color-bg-secondary: #f7ce68;
  --color-bg-tertiary: #ffe53b;
  --color-bg-fourth: #ff2525;
  --color-primary: #000;
  --color-secondary: #fff;
}
