.root {
  padding: 40px 0;
}

.container {
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  max-width: 800px;
  margin: 0 auto;
}

.list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  @media (max-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  @media (max-width: 480px) {
    grid-template-columns: auto;
    gap: 12px;
  }
}
