.header {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  box-shadow: 0 6px 10px -9px #000;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 5px 0;
  font-weight: 500;
  text-align: center;
}
